# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile
Pipfile.lock

# poetry
poetry.lock
.poetry/

# PyInstaller
# Usually contains binary files
build/
dist/
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.cache/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pycharm
.idea/

# VS Code
.vscode/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Local development logs
*.log

# Environment variable files
.env
.env.*
.venv

# macOS files
.DS_Store

# Windows files
Thumbs.db
desktop.ini

# Other
*.swp
*.swo
*copy.py
myenv/